*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Akatab', sans-serif;
  }

body{
    color: white;
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkdXorKf3HO-eSU9FkYxBHBsA9Pqsty4rDqCFXGmkI6XlTOutvKH9yXbbJxBuDiRk8AN0&usqp=CAU);
}

.container{

    .header{
        background-color: black;
        border-bottom: 1px solid white;
        width: 100%;
    
        .titulo{
            text-align: center;
            padding: 3rem 0;
            img{
                width: 300px;
                height: 100px;
                cursor: pointer;
            } 
        }
        
        .nav{

            nav{
                display: flex;
                justify-content: center;
                padding: 3rem;
                li{
                    list-style: none;
                    padding: 0.8rem;
                    a{
                        font-size: 1.5rem;
                        color: white;
                        
                    }
                    a:hover{
                        color: yellow;
                    }
                }
            }
        }
    
    }

    main{
        margin: 3rem;

        section{
            margin: 60px 0;
            padding: 20px;
            #peliculas{
                img{
                width: 200px;
                height: 250px;
                margin-bottom: .5rem;
            }
            } 
            div{
            
                    text-align: center;
                    color: rgba(255, 255, 0, 0.767);
                    font-weight: 900;
                   
                    div{
                        background-color: rgba(0, 0, 0, 0.575);
                        margin: 3rem 0;
                        padding: 1rem;
                        
                    }
                    
                    h2{
                        font-size: 2.5rem;
                        padding: .8rem 0;
                    }
                    h3{
                        font-size: 2.5rem;
                        padding: 1rem;
                    }
                    p{
                        font-size: 1.3rem;
                    }
            }
        }
    }

    footer{
        background-color: black;
        border-top: 1px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav{
            li{
                list-style: none;
                padding: 5px 0;
                text-align: center;
                a{
                    font-size: 1.2rem;
                    color: white;
                    
                }
                a:hover{
                    color: yellow;
                }
            }
        }
    }
}


@media screen and (max-width: 425px) {
    .container{
        .header{
        .nav{
            
            nav{
                flex-direction: column;
                align-items: center;
                padding: 2rem;
            li{
                list-style: none;
                padding: 0.5rem;
                a{
                    font-size: 1.2rem; 
                }
                a:hover{
                    color: none;
                }
            }
            }
        }
    }

    main{
        margin: 0;

        section{
            div{
                    font-weight: 600;

                    h2{
                        font-size: 2rem;
                        padding: .8rem 0;
                    }
                    h3{
                        font-size: 2rem;
                        padding: 1rem;
                    }
                    p{
                        font-size: 1rem;
                    }
            }
        }
    }
    }
    
}